services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    image: portfolio-isaac
    container_name: portfolio-isaac
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
