@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #09090b; /* zinc-950 */
  --foreground: #fafafa; /* zinc-50 */
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
